.Definitions h3 {
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #000;
  text-transform: capitalize;
  font-family: "El Messiri", sans-serif;
}

.Definitions .definition {
  text-align: left;
}

.Definitions .example {
  text-align: left;
  margin-top: 10px;
  color: #70757a;
  font-style: italic;
}

.Definitions .example::first-letter {
  text-transform: capitalize;
}
